# Ignore les fichiers de compilation Java
*.class

# Ignore les fichiers de configuration Eclipse
.project
.classpath
.settings/

# Ignore les fichiers de configuration IntelliJ IDEA
.idea/
node_modules/
dist/
src/https-server/certifications/
.env
.env.test
./docker/.env
/package-lock.json
/src/express-web-api/prisma/migrations